/* basic */

*{
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #34495e;
  line-height: 24px;
}

a{
  color: #41b883;
}

p{
  margin-bottom: 10px;
}

h1{
  margin: 10px 0;
}

h2,
.text--center{
  text-align: center;
}

h3{
  margin-bottom: 20px;
}

.box--grey{
  background: #f8f8f8;
  padding: 50px 35px;
  margin-top: 100px;
}

.color--green{
  color: #41b883;
}

.color--pink{
  color: #ff00ff
}

.color--purple{
  color: #9900ff;
}

main{
  width: 800px;
  margin: 0 auto;
}

.cp_embed_wrapper{
  margin-top: 50px;
}

.section-header{
  padding-top: 100px;
}

section{
  height: 100vh;
}
